html {
}

body {
  min-width: 880px;
  font-family: $font-regular;
  font-size: $font-size-regular;
  color: $font-color-regular;
  font-weight: 400;
  background-color: $color-background-body;
  background-image: linear-gradient(
      transparentize($color-background-body, 0.05),
      transparentize($color-background-body, 0.05)
    ),
    url("../img/world-map.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
