/* ------------------------------- */
/* ------------- FONT ------------ */
$font-regular: Arial, Helvetica, sans-serif;

/* ------------------------------ */
/* ---------- FONT SIZE --------- */
$font-size-logo: 36.92px;

$font-size-header-menu-1st: 13px;
$font-size-header-menu: 12px;

$font-size-banner-title: 24px;
$font-size-banner: 12px;

$font-size-sidebar-title: 18px;
$font-size-sidebar-menu: 12px;

$font-size-article-title: 24px;
$font-size-article-intro: 15px;
$font-size-article-section-title: 15px;
$font-size-article-day: 17px;
$font-size-article-date: 10px;
$font-size-regular: 12px;
$font-size-image-capture: 11px;

$font-size-article-navigation: 15px;

$font-size-clients-title: 18px;

$font-size-footer-category: 15px;
$font-size-footer: 12px;
$font-size-footer-copyright: 11px;

/* ------------------------------ */
/* -------- LETTER SPACING ------ */
$letter-spacing-sidebar-title: -0.07em;

$letter-spacing-banner-title: -0.02em;

$letter-spacing-article-title: -0.054em;
$letter-spacing-article-section-title: -0.06em;
$letter-spacing-article-section-content: -0.0055em;

$letter-spacing-clients-title: -0.07em;

$letter-spacing-footer-menu-category-name: -0.02em;

/* ------------------------------ */
/* --------- LINE HEIGHT -------- */
$line-height-article-title: 1.2;

$line-height-banner-title: 1.2;
$line-height-banner-description: 1.5833;

$line-height-article-intro: 1.4;
$line-height-article-section-content: 1.55;

/* -------------------------------- */
/* ---------- FONT COLORS --------- */
$font-color-logo: #262626;

$font-color-main-menu-1st: #3c3c3c;
$font-color-main-menu-1st-hover: #ae3b44;

$font-color-main-menu: #9ca0a2;
$font-color-main-menu-hover: #ffffff;

$font-color-banner-title: #edf2f5;
$font-color-banner: #222222;

$font-color-sidebar-title: #212121;
$font-color-sidebar-menu: #3c3c3c;
$font-color-sidebar-menu-active: #ffffff;
$font-color-sidebar-menu-hover: #ae3b44;

$font-color-article-title: #3d3d3d;
$font-color-article-intro: #909293;

$font-color-article-day: #3c3c3c;
$font-color-article-date: #939799;

$font-color-section-title: #ae3b44;
$font-color-regular: #3c3c3c;
$font-color-image-capture: #3c3c3c;

$font-color-article-navigation: #ae3b44;

$font-color-clients-title: #212121;

$font-color-footer: #393939;

/* ----------------------------- */
/* ----------- COLORS ---------- */
$color-background-body: #fefefe;

$color-background-main-menu: #212121;
$color-border-main-menu-item: #232525;

$color-border-picture: #212121;
$color-background-banner: #ae3b44;

$color-background-sidebar-title: #ae3b44;
$color-background-sidebar-menu-2nd: #f4f7f8;
$color-background-sidebar-menu-3rd: #eaeaea;
$color-background-sidebar-menu-active: #ae3b44;
$color-background-sidebar-menu-arrow: #989898;
$color-border-menu-item-2nd: #dee1e2;
$color-border-menu-item-3rd: #d6d6d6;

$color-lines: #ececec;

$color-hatch: #e3e4e5;

$color-background-footer-dark: #dcdcdc;
$color-background-footer-bright: #f8f8f8;
