.footer {
  background-image: linear-gradient(
    to bottom,
    $color-background-footer-dark 1%,
    $color-background-footer-bright 3%
  );
}

.footer__menu-wrapper {
  padding: 24px 19px;
}

.footer__menu {
  @extend %clear-list;

  display: flex;
  justify-content: space-between;

  color: $font-color-footer;
}

.footer__menu-category {
  font-size: $font-size-footer-category;

  &:nth-of-type(1) {
    flex-basis: 387px;
  }

  &:nth-of-type(2) {
    flex-basis: 139px;
  }

  &:nth-of-type(3) {
    flex-basis: 198px;
  }
}

.footer__menu-category-name {
  display: block;
  margin-bottom: 21px;

  letter-spacing: $letter-spacing-footer-menu-category-name;
}

.footer__menu-list {
  @extend %clear-list;

  display: flex;
  justify-content: space-between;
}

.footer__menu-column {
}

.footer__menu-column-list {
  @extend %clear-list;
}

.footer__menu-item {
  font-size: $font-size-footer;

  &:not(:last-child()) {
    margin-bottom: 6px;
  }
}

.footer__menu-link {
  @extend %clear-link;

  color: $font-color-footer;
}

.footer__socials-list {
  @extend %clear-list;
  padding-bottom: 16px;
}

.footer__social-item {
  display: inline-block;
  margin-right: 2px;
}

.footer__social-link {
  @extend %clear-link;

  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("../img/socials-sprite.png");

  filter: grayscale(100%);

  &:hover {
    filter: none;
  }
}

.footer__social-link_twitter {
  background-position: 0px 0px;
}

.footer__social-link_facebook {
  background-position: -30px 0px;
}

.footer__social-link_linkedin {
  background-position: -60px 0px;
}

.footer__social-link_rss {
  background-position: -90px 0px;
}

.footer__copyright {
  font-size: $font-size-footer-copyright;
}
