.header__menu {
  font-size: $font-size-header-menu;
  margin-right: 3.58%;
}

/* ---------- 1st level ---------- */
.header__menu-list-1st-level {
  @extend %clear-list;

  font-size: $font-size-header-menu-1st;
  display: flex;
  justify-content: space-between;
  width: 472px;
}

.header__menu-item-1st-level {
  position: relative;

  border-bottom: 6px solid transparent;

  &:hover {
    .header__menu-list-2nd-level {
      display: block;
    }
  }
}

.header__menu-link-1st-level {
  @extend %clear-link;

  color: $font-color-main-menu-1st;

  &:hover {
    color: $font-color-main-menu-1st-hover;
  }
}

/* ---------- 2nd level ---------- */
.header__menu-list-2nd-level {
  @extend %clear-list;

  font-size: $font-size-header-menu;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 6px);

  display: none;

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 4px;
    background-color: $color-background-main-menu;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);

    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.header__menu-item-2nd-level {
  position: relative;
  background-color: $color-background-main-menu;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-border-main-menu-item;
  }

  &:hover {
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 4px;
      height: 10px;
      background-color: $color-background-main-menu;
      clip-path: polygon(0 0, 100% 50%, 0 100%);

      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0%, -50%);
    }

    .header__menu-list-3rd-level {
      display: block;
    }
  }
}

.header__menu-link-2nd-level {
  @extend %clear-link;

  color: $font-color-main-menu;
  width: 145px;
  height: 28.5px;
  padding-left: 12px;
  display: flex;
  align-items: center;

  &:hover {
    color: $font-color-main-menu-hover;
  }
}

/* ---------- 3rd level ---------- */
.header__menu-list-3rd-level {
  @extend %clear-list;

  font-size: $font-size-header-menu;

  position: absolute;
  top: 0;
  left: 100%;
  border-left: 4px solid transparent;

  display: none;
}

.header__menu-item-3rd-level {
  border-bottom: 1px solid $color-border-main-menu-item;
  background-color: $color-background-main-menu;

  &:nth-of-type(1) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 65%, 3px 50%, 0 35%);
  }
}

.header__menu-link-3rd-level {
  @extend %clear-link;

  color: $font-color-main-menu;
  padding-left: 12px;
  width: 145px;
  height: 28.5px;
  display: flex;
  align-items: center;

  &:hover {
    color: $font-color-main-menu-hover;
  }
}
