.cards__set {
  position: relative;
  height: 400px;

  &:hover .cards__item {
    animation-play-state: paused;
  }
}

.cards__item {
  @extend %clear-list;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
  background-color: wheat;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: item-rotation $periodInSec linear 0s infinite normal none running;

  &:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 15px;
    left: 10px;
    transform: scaleX(0.6) rotate(45deg);
  }

  &:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    bottom: 15px;
    right: 10px;
    transform: scaleX(0.6) rotate(45deg);
  }

  @for $i from 0 through $numberOfItems {
    &:nth-of-type(#{$i}) {
      animation-delay: -$delayInSec * $i;
      display: flex;
    }
  }
}

.cards__text {
  font-size: 50px;
  font-weight: 700;
}

@keyframes item-rotation {
  0% {
    left: 0;
    z-index: 1;
  }

  40% {
    left: 50%;
    transform: translate(-50%, -25%) scale(1.5);
    z-index: 10;
  }

  80% {
    left: 100%;
    transform: translateX(-100%) scale(1);
  }

  90% {
    z-index: -10;
  }

  100% {
    left: 0;
    z-index: 1;
  }
}
