.banner__button {
  @extend %buttons;
  margin-bottom: 13.3%;

  background-image: linear-gradient(
    to bottom,
    $color-middle-orange 95%,
    $color-dark-orange 95%
  );
}

.portfolio__button {
  @extend %buttons;
  margin-bottom: 10.2%;

  background-image: linear-gradient(
    to bottom,
    $color-light-green 95%,
    $color-dark-green 95%
  );
}

.contact-form__button {
  @extend %buttons;

  background-image: linear-gradient(
    to bottom,
    $color-lightest-blue 95%,
    $color-light-blue 95%
  );
}
