.main {
}

* {
  outline: 1px solid red;
}

.banner {
  background-color: $color-middle-purple;
  color: $color-regular-white;
  text-align: center;
  padding-top: 45%;
  min-height: 100vh;
}

.banner__title {
  font-family: $font-bold;
  font-size: $font-size-banner-title * 0.6;
  margin-bottom: 58px;
}

.section {
  padding-top: 10.5454%;
  text-align: center;
  padding-bottom: 11.6363%;
  min-height: 100vh;
}

.section__title {
  font-family: $font-bold;
  font-size: $font-size-section-title * 0.8;
  line-height: $line-height-regular;
  text-transform: uppercase;
  margin-bottom: 26px;

  &::after {
    content: "";
    display: block;
    width: 86px;
    height: 4px;
    border: none;
    margin: auto;
    margin-top: 18px;
  }
}

.section__subtitle {
  font-size: $font-size-section-subtitle;
  margin-bottom: 6.7272%;
}

.services {
  @include underline($color-dark-green);

  color: $color-regular-white;
  background-color: $color-light-green;

  .services__list {
    width: 100%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;

    .services__item {
      @extend %single-item;

      .services__picture {
        content: "";
        display: block;
        width: 130px;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /*       margin-bottom: 58px; */
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .services__picture-branding {
        background-image: url("../img/flag.png");
      }

      .services__picture-design {
        background-image: url("../img/crayon.png");
      }

      .services__picture-development {
        background-image: url("../img/gears.png");
      }

      .services__picture-science {
        background-image: url("../img/rocket.png");
      }

      .services__name {
        font-family: $font-bold;
        font-size: $font-size-section-item-name;
        text-transform: uppercase;
      }

      .services__description {
        font-family: $font-light;
        line-height: $line-height-section-regular-small;
      }
    }
  }
}

.team {
  @include underline($color-dark-pale);

  background-color: $color-light-pale;

  .team__list {
    width: 100%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;

    .team__item {
      @extend %single-item;

      &::before {
        content: "";
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $color-light-grey;
        margin-bottom: 38px;
      }

      .team__name {
        font-family: $font-bold;
        font-size: $font-size-section-item-name;
        text-transform: uppercase;
        margin: auto;
        margin-bottom: 8px;
      }

      .team__position {
        color: $color-lightest-blue;
        margin-bottom: 24px;
      }

      .team__description {
        font-family: $font-light;
        line-height: $line-height-section-regular-small;
        margin-bottom: 26px;
      }

      .socials__list {
        .socials__item {
          @extend %clear-list;

          &:not(:nth-last-of-type(1)) {
            margin-right: 12px;
          }

          .socials__link {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $color-dark-pale;
            background-repeat: no-repeat;

            &:focus,
            &:hover,
            &:active {
              background-color: $color-lightest-blue;
            }
          }

          .socials__facebook {
            background-image: url("../img/svg/socials.svg");
            background-size: 88px 40px;
            background-position: 12px 7px;
          }

          .socials__twitter {
            background-image: url("../img/svg/socials.svg");
            background-size: 88px 40px;
            background-position: 8px -16px;
          }

          .socials__linkedin {
            background-image: url("../img/svg/socials.svg");
            background-size: 88px 40px;
            background-position: -15px 7px;
          }

          .socials__email {
            background-image: url("../img/svg/socials.svg");
            background-size: 77px 35px;
            background-position: -35px 9px;
          }
        }
      }
    }
  }
}

.skills {
  @include underline($color-middle-pale);

  .skills__list {
    width: 100%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;

    .skills__item {
      @extend %single-item;

      .skills__name {
        font-family: $font-bold;
        font-size: $font-size-section-item-name;
        text-transform: uppercase;
      }
    }

    .skills__item-web-design {
      @include diagram($color-lightest-blue, 148.5deg);
    }

    .skills__item-html-css {
      @include diagram($color-middle-pink, 90deg);
    }

    .skills__item-graphic-design {
      @include diagram($color-middle-green, 75.5deg);
    }

    .skills__item-ui-ux {
      @include diagram($color-middle-orange, 130.25deg);
    }
  }
}

.portfolio {
  @include underline($color-middle-yellow);

  color: $color-dark-grey;
  background-color: $color-light-yellow;

  .portfolio__filter-list {
    margin-bottom: 5.6363%;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    .portfolio__filter-item {
      @extend %clear-list;

      &:not(:nth-last-of-type(2n-1)) {
        margin-right: 6px;
      }

      &:not(:nth-last-of-type(2)) {
        margin-bottom: 10px;
      }

      .portfolio__filter-link {
        @extend %clear-link;

        border-radius: 3px;

        width: 84px;
        height: 38px;

        line-height: 38px;
        font-size: $font-size-regular-middle;
        color: $color-dark-grey;
        text-transform: uppercase;

        background-color: $color-middle-yellow;

        &:hover {
          transform: scale(1.05, 1.05);
        }

        &:focus,
        &:active {
          background-color: $color-regular-white;
        }
      }
    }
  }

  .portfolio__list {
    margin-bottom: 7.4545%;

    .portfolio__item {
      @extend %double-item;

      font-size: $font-size-regular-middle;
      text-transform: uppercase;
    }
  }
}

.opinions {
  @include underline($color-dark-pink);

  color: $color-regular-white;
  background-color: $color-middle-pink;

  padding-bottom: 11.8182%;

  .opinions__item {
    @extend %double-item;

    max-width: 400px;
    text-align: left;

    .opinions__photo {
      display: block;
      width: 98px;
      height: 98px;
      background-color: $color-middle-grey;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    .opinions__description {
      font-family: $font-italic;
      font-size: $font-size-section-quotation;
      line-height: $line-height-section-quotation;
      text-align: center;
      margin-bottom: 5.098%;
      quotes: "	\201D" "	\201D";

      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }
    }

    .opinions__name {
      font-family: $font-bold;
      font-size: $font-size-section-item-name;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 4px;
    }

    .opinions__position {
      color: $color-light-yellow;
      text-align: center;
    }
  }
}

.contact {
  @include underline($color-darkest-blue);

  color: $color-regular-white;
  background-color: $color-middle-blue;

  .contact-form {
    width: 100%;
    max-width: 860px;

    margin-left: auto;
    margin-right: auto;
  }

  .contact-form__name {
    @extend %form-reset;

    width: 100%;
    height: 56px;

    margin-bottom: 2.3636%;
  }

  .contact-form__email {
    @extend %form-reset;

    width: 100%;
    height: 56px;

    margin-bottom: 2.3636%;
  }

  .contact-form__message {
    @extend %form-reset;

    resize: vertical;

    width: 100%;
    height: 200px;

    margin-bottom: 5.4545%;
  }
}
