.main-logo {
  @extend %clear-link;

  float: left;

  color: $color-regular-white;

  width: 120px;
  height: 38px;

  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation__wrapper {
  /*   position: relative; */
}

.navigation {
  width: 100%;
}

.main-menu__icon {
  position: absolute;
  right: 10px;
  bottom: 0px;

  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/svg/menu.svg");
  background-size: cover;

  &:focus + .main-menu {
    /* display: block; */
    z-index: 5;
  }
}

.main-menu {
  @extend %clear-list;

  position: absolute;
  left: 0;
  /* display: none; */
  z-index: -5;

  width: 100%;
  height: 100vh;
  background-color: $color-middle-purple;

  font-family: $font-regular;
  font-size: $font-size-regular;
  text-transform: uppercase;
  color: $color-regular-white;

  .main-menu__item {
    display: block;
  }
}

.main-menu__link {
  @extend %clear-link;

  display: block;
  text-align: center;
  color: $color-regular-white;

  padding-top: 4px;
  padding-bottom: 4px;

  &:focus,
  &:hover {
    background-color: $color-dark-purple;
  }
}
