.article {
  max-width: 724px;
  padding-left: 3.5912%;
  padding-left: 3.5912%;
}

.article__title-wrapper {
  @extend %underline-section;

  display: flex;
  justify-content: space-between;
}

.article__title {
  font-size: $font-size-article-title;
  color: $font-color-article-title;

  max-width: 453px;
}

.article__date {
  font-size: $font-size-article-date;
  color: $font-color-article-date;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
}

.article__day {
  font-size: $font-size-article-day;
  color: $font-color-article-day;
}

.article__month {
}

.article__year {
}

.article__intro {
  @extend %underline-section;

  font-size: $font-size-article-intro;
  color: $font-color-article-intro;
  font-style: italic;
}

.article__section {
  @extend %underline-section;

  font-size: $font-size-regular;
  color: $font-color-regular;
}

.article__section-title {
  font-size: $font-size-article-section-title;
  color: $font-color-section-title;
}

.article__section-content {
}

.article__image-wrapper {
}

.article__image-large {
}

.article__image-caption {
  font-size: $font-size-image-capture;
  color: $font-color-image-capture;
}

.article__image-small {
  float: left;

  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}
