.article {
  max-width: 700px;

  padding-top: 30px;
  margin-left: 3.5912%;
}

.article__title-wrapper {
  @extend %underline-section;

  display: flex;
  justify-content: space-between;

  margin-bottom: 23px;
}

.article__title {
  font-size: $font-size-article-title;
  color: $font-color-article-title;
  line-height: $line-height-article-title;
  letter-spacing: $letter-spacing-article-title;

  max-width: 453px;
}

.article__date {
  @extend %background-hatch;

  font-size: $font-size-article-date;
  color: $font-color-article-date;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
}

.article__day {
  font-size: $font-size-article-day;
  color: $font-color-article-day;
}

.article__month {
}

.article__year {
}

.article__intro {
  @extend %underline-section;

  font-size: $font-size-article-intro;
  color: $font-color-article-intro;
  font-style: italic;
  text-align: justify;
  line-height: $line-height-article-intro;

  padding-right: 25px;
  padding-bottom: 26px;

  margin-bottom: 26px;
}

.article__section {
  @extend %underline-section;

  font-size: $font-size-regular;
  color: $font-color-regular;
  text-align: justify;

  padding-right: 25px;
  padding-bottom: 34px;

  margin-bottom: 26px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.article__section-title {
  font-size: $font-size-article-section-title;
  color: $font-color-section-title;
  letter-spacing: $letter-spacing-article-section-title;
}

.article__section-content {
  line-height: $line-height-article-section-content;
  letter-spacing: $letter-spacing-article-section-content;

  padding-top: 19px;
}

.article__image-wrapper {
  padding-top: 39px;
  margin-bottom: 15px;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.article__image-large {
  height: 290px;

  border-bottom: 8px solid $color-border-picture;

  margin-bottom: 9px;
}

.article__image-caption {
  font-size: $font-size-image-capture;
  color: $font-color-image-capture;
}

.article__image-small {
  float: left;

  border-bottom: 8px solid $color-border-picture;

  padding-top: 34px;
  margin-right: 32px;
  margin-bottom: 20px;
}
