.banner {
  background-color: $color-background-banner;
}

.banner__image {
}

.banner__title {
  font-size: $font-size-banner-title;
  color: $font-color-banner-title;
}

.banner__description {
  font-size: $font-size-banner;
  color: $font-color-banner;
}
