.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__title {
  font-size: $font-size-clients-title;
  color: $font-color-clients-title;
}

.clients__list {
  @extend %clear-list;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  flex-basis: 740px;
}

.clients__item {
  max-height: 44px;
}

.clients__link {
  @extend %clear-link;
}
