.article__navigation {
}

.article__navigation-list {
  @extend %clear-list;

  display: flex;
  justify-content: space-between;
}

.article__navigation-item {
}

.article__navigation-link {
  @extend %clear-link;

  display: flex;
  align-items: center;
}

.article__navigation-link_previous {
  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/buttons/button-previous.png");
    background-position: center;

    margin-right: 20px;
  }
}

.article__navigation-button_next {
  &::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../img/buttons/button-next.png");
    background-position: center;

    margin-left: 20px;
  }
}

.article__navigation-title {
  font-size: $font-size-article-navigation;
  color: $font-color-article-navigation;
}
